/* Universal Selector */
* {
  box-sizing: border-box;

  font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

/* Element Selector(s) */

section {
	text-align: center;
}

footer p {
	font-weight: bold;
	text-align: center;
	background-color: teal;
	height: 50px;
}

header nav ul li {
	display: inline;
	position: relative;
}

header {
	position: relative;
	padding: 40px;
}

header nav {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 15px;
}


/* Set links to white */
a {
	color: white;
}


/* Class Selector */
.horizontal-green-bar {
	background-color: teal;
	height: 50px;
	/*text-align: right;*/
}

/* Id Selectors */
#link-group {
	position: right;
	color: white;
}


